$primary-color: #BADA55;
$secundary-color: #374ad4;
$tertiary-color: #e8e6e7;
$quaternary-color: #FF5EB0;
$quinary-color: #ff4848;
$senary-color: #ffd42a;

$hover: #8F98E2;
$white: #FFFFFF;
$black: #000000;