<div id="header">
    <img src="../../../assets/logo.png" alt="Logo da empresa Tindin">
    <h1>Boas vindas, {{nome}}</h1>
    <button (click)="quizToggle('add')"><h5>Adicionar Quiz</h5></button>
</div>

<div id="background" (click)="quizToggle(null)"></div>
<div id="form">
    <h1>{{titleQuiz}}</h1>

    <div id="page01">
        <span>Título</span>
        <input [(ngModel)]="quiz['title']" id="txtTitle" type="text">
        <p *ngIf="errorPage01[0]['erro']">{{errorPage01[0]["title"]}}</p>
    
        <span>Descrição</span>
        <textarea [(ngModel)]="quiz['description']" id="txtDescription"></textarea>
        <p *ngIf="errorPage01[1]['erro']">{{errorPage01[1]["title"]}}</p>
    
        <span>Tipo</span>
        <select [(ngModel)]="quiz['type']" id="txtType">
            <option value="MULTIPLE_CHOICE_ONE">Multiplas Escolhas</option>
        </select>
        <p *ngIf="errorPage01[2]['erro']">{{errorPage01[2]["title"]}}</p>
    
        <div>
            <div>
                <span>Dificuldade</span>
                <select [(ngModel)]="quiz['level']" id="txtLevel">
                    <option value="EASY">Fácil</option>
                    <option value="MEDIUM">Médio</option>
                    <option value="HARD">Difícil</option>
                </select>
                <p *ngIf="errorPage01[3]['erro']">{{errorPage01[3]["title"]}}</p>
            </div>
    
            <div>
                <span>Experiência</span>
                <input [(ngModel)]="quiz['rewardXp']" id="txtRewardXp" type="number" min="0">
                <p *ngIf="errorPage01[4]['erro']">{{errorPage01[4]["title"]}}</p>
            </div>
        </div>
    
        <button (click)="next()"><h5>Avançar</h5></button>
    </div>

    <div id="page02">
        <div>
            <div>
                <span>Texto</span>
                <input [(ngModel)]="opt['text']" id="txtText" type="text">
                <p *ngIf="errorPage02[0]['erro']">{{errorPage02[0]["title"]}}</p>
            </div>

            <div>
                <span>Correção</span>
                <select [(ngModel)]="opt['correct']" id="txtCorrect">
                    <option value="true">Verdadeiro</option>
                    <option value="false">Falso</option>
                </select>
                <p *ngIf="errorPage02[1]['erro']">{{errorPage02[1]["title"]}}</p>
            </div>
        </div>

        <button id="btnAdd" (click)="addOption()"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm6 13h-5v5h-2v-5h-5v-2h5v-5h2v5h5v2z"/></svg><h5>Adicionar</h5></button>

        <h3>Opções Adicionadas</h3>
        <div id="listaQuestao">
            <div *ngFor="let q of quiz['options']; let id = index" class="questao">
                <p>{{q.text + " | " + q.correct}}</p>
                <button (click)="deleteteOption(id)"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm4.151 17.943l-4.143-4.102-4.117 4.159-1.833-1.833 4.104-4.157-4.162-4.119 1.833-1.833 4.155 4.102 4.106-4.16 1.849 1.849-4.1 4.141 4.157 4.104-1.849 1.849z"/></svg></button>
            </div>
        </div>

        <button (click)="pageToggle()"><h5>Voltar</h5></button>
        <button *ngIf="!updating" (click)="submit()"><h5>Enviar</h5></button>
        <button *ngIf="updating" (click)="update()"><h5>Atualizar</h5></button>
    </div>
</div>


<div id="content">
    <div *ngFor="let q of listaQuiz" id="{{q._id}}" class="quiz">
        <img src="../../../assets/quiz.jpg" alt="Imagem ilustrativa de vários matérias escolares">

        <div class="buttons">
            <button (click)="edit(q._id)"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M18.363 8.464l1.433 1.431-12.67 12.669-7.125 1.436 1.439-7.127 12.665-12.668 1.431 1.431-12.255 12.224-.726 3.584 3.584-.723 12.224-12.257zm-.056-8.464l-2.815 2.817 5.691 5.692 2.817-2.821-5.693-5.688zm-12.318 18.718l11.313-11.316-.705-.707-11.313 11.314.705.709z"/></svg><h5>Editar</h5></button>
            <button (click)="delete(q._id)"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill-rule="evenodd" clip-rule="evenodd"><path d="M5.662 23l-5.369-5.365c-.195-.195-.293-.45-.293-.707 0-.256.098-.512.293-.707l14.929-14.928c.195-.194.451-.293.707-.293.255 0 .512.099.707.293l7.071 7.073c.196.195.293.451.293.708 0 .256-.097.511-.293.707l-11.216 11.219h5.514v2h-12.343zm3.657-2l-5.486-5.486-1.419 1.414 4.076 4.072h2.829zm.456-11.429l-4.528 4.528 5.658 5.659 4.527-4.53-5.657-5.657z"/></svg><h5>Excluir</h5></button>
        </div>

        <div class="text">
            <h3>{{q.title}}</h3>
            <p><strong>Descrição:</strong> {{q.description}}</p>
            <p><strong>Dificuldade:</strong> {{q.level}}</p>
            <p><strong>Tipo:</strong> {{q.type}}</p>
        </div>
    </div>
</div>