//#region Imports
@import '../../scss/colors.scss';
@import '../../scss/mixin.scss';
@import '../../scss/addQuiz.scss';
//#endregion

//#region Var
$container: 10%;
//#endregion

//#region Header
#header{
    @include flex(row, vrtCenter);

    background-color: $tertiary-color;
    width: calc(100% - ($container * 2));
    height: 140px;

    position: fixed;
    top: 0px;
    left: $container;

    padding: 20px;    
    border-bottom-width: 1.5px;
    border-bottom-style: solid;
    border-bottom-color: #999997;

    z-index: 300;

    img{
        height: 100%;

        margin-right: 20px;
    }
    h1{
        width: 40%;

        font-size: 2em;
        color: $quaternary-color;
    }
    button{
        width: 180px;
        height: 60px;

        position: absolute;
        bottom: 20px;
        right: 20px;

        font-size: 1.3em;
    }
}
//#endregion

//#region Conteúdo
#content{
    @include flex(row, space-evenly);
    background-color: $white;

    margin: 140px $container 0px $container;

    .quiz{
        width: 300px;
        overflow: hidden;

        position: relative;

        margin: 40px 20px;
        border-width: 1.5px;
        border-style: solid;
        border-color: #999997;

        transition: transform 0.5s;
        
        img{
            width: 100%;
            height: 180px;
        }

        .buttons{
            @include flex(row, none);
            position: absolute;
            top: 10px;
            right: 10px;

            button:nth-of-type(1){
                background-color: $primary-color;
                margin-right: 10px;
            }
            button:nth-of-type(2){
                background-color: $quinary-color;
            }

            button{
                @include flex(row, fullCenter);
                width: 90px;
                height: 30px;

                border-radius: 30px;

                svg{
                    height: 60%;
                    fill: $white;

                    margin-right: 5px;
                }

                &:hover{
                    background-color: $hover;
                }
            }
        }

        .text{
            padding: 10px;

            h3{
                font-size: 1.5em;
                color: $quaternary-color;
            }

            p{
                margin-top: 10px;
                font-size: 0.95em;
            }
            
            strong{
                font-size: 1.2em;
                font-family: 'PT Sans Narrow', sans-serif;
            }
        }

        &:hover{
            transform: scale(1.15, 1.15);
        }
    }
}
//#endregion