<div id="container">
    <div id="login">
        <div>
            <img src="../../../assets/logo.png" alt="Logo da empresa Tindin">
        </div>
    
        <div>
            <h1>Faça já o seu login!</h1>

            <input [(ngModel)]="email" id="txtEmail" type="text" placeholder="E-mail">
            <p *ngIf="errorEmail">Digite o seu e-mail, por favor!</p>
            
            <input [(ngModel)]="senha" id="txtSenha" type="password" placeholder="Senha">
            <p *ngIf="errorSenha">Digite a sua senha, por favor!</p>
            <p *ngIf="errorEntrar">E-mail e/ou Senha inválida, revise as informações e tente novamente!</p>

            <button (click)="entrar()">Entrar</button>
        </div>
    </div>
</div>
