@import 'app/scss/colors.scss';

body{
    background-color: $tertiary-color;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

button{
    background-color: $secundary-color;
    
    border: none;    

    transition: all 0.5s;

    *{
        color: $white;
        font-family: 'Montserrat', sans-serif;
    }

    &:hover{
        background-color: $hover;

        cursor: pointer;
    }
}
